html
  head
    title= artist
    meta(name="viewport", content="width=800, initial-scale=1")
    meta(name="theme-color", content="black")
    script
      include script.js
    style
      include style.css
  body
    span#title= title
    div
      span#artist= artist
    span#singer= singer
